body {
  background-color: #66f4d3;
}

img {
  height: 150px;
  width: 150px;
  border-radius: 75px;
}

.content {
  background: white;
  border-radius: 10px;
}

.content-area {
}

.cotent-container {
  height: 10vh;
  width: 100px;
}
